/* Google Font Popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

/* Root colors */

:root {
  --primary-color: #17a1fa;
  --black-color: #000000;
  --white-color: #ffffff;
}
/* Reset-Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  margin: 0 auto;
  width: 1140px;
}
