/* Google Font Popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

/* Root colors */

:root {
  --primary-color: #17a1fa;
  --black-color: #000000;
  --white-color: #ffffff;
}
/* Reset-Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  margin: 0 auto;
  width: 1140px;
}

/* Header Section */
header nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header nav .logo h3 {
  font-size: 25px;
}
header nav {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
header nav ul li {
  padding: 12px 12px;
}
header nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

header nav ul li a:hover {
  color: gray;
}

header nav ul li:last-child {
  background: var(--primary-color);
  padding: 10px 12px;
  border-radius: 5px;
  color: var(--white-color);
}

/* Banner-Section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner .right img {
  padding: 15px 0;
  height: 350px;
}
.banner .right {
  padding: 15px 0;
}
.banner .left h2 {
  font-size: 3rem;
  font-weight: bold;
}

.banner .left p {
  font-size: 1rem;
  padding: 1.5rem 0;
}
.banner .left .btn {
  margin-top: 1rem;
  background: var(--primary-color);
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--white-color);
}

/* Brands Section */

.brand-container {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand-container img {
  width: 5rem;
}

/* Feature Section */
.feature {
  background: var(--primary-color);
}

.feature p {
  padding: 10px 0;
  text-align: center;
  color: var(--white-color);
  font-family: "Popins", sans-serif;
}
.feature h2 {
  font-size: 3rem;
  color: var(--white-color);
  font-family: "Popins", sans-serif;
  padding: 20px 0px;
  text-align: center;
}
.service-container {
  gap: 1rem;
  display: flex;
  padding: 100px 0px;
}

.service h2 {
  text-align: start;
  font-size: 1.5rem;
}
.service p {
  text-align: start;
}

/* Footer  */

footer {
  padding: 100px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .left img {
  width: 100%;
}

footer .right ul {
  list-style: upper-roman inside;
}

footer .right h2 {
  padding: 10px 0px;
  font-size: 2.2rem;
}

footer .right ul li {
  line-height: 2em;
}
