/* Google Font Popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

/* Root colors */

:root {
  --primary-color: #17a1fa;
  --black-color: #000000;
  --white-color: #ffffff;
}
/* Reset-Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  margin: 0 auto;
  width: 1140px;
}

/* Header Section */
header nav .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header nav .logo h3 {
  font-size: 25px;
}
header nav {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
header nav ul li {
  padding: 12px 12px;
}
header nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

header nav ul li a:hover {
  color: gray;
}

header nav ul li:last-child {
  background: var(--primary-color);
  padding: 10px 12px;
  border-radius: 5px;
}
